<div>
	<div>
		<p><strong><%= comment.username %></strong></p>
		<p><%= comment.body %></p>
		<p><%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>
	<%= link_to 'Delete comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>