<div>
	<div>
		<p><%= comment.body %></p>
		<p><%= time_ago_in_words(comment.created_at) %> ago by <strong><%= comment.username %></strong></p>
	</div>
	<% if user_signed_in? && (current_user.admin? || current_user.username == comment.username) %>
		<p><%= link_to 'Delete', [comment.blog, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
</div>