<% @title = "Contact" %>
<div class="contact-wrapper">
	<h1 class="contact-title">Contact Information</h1>
	<h2 class="contact-subtitle">Questions?</h2>
	<p>If you have any question or concerns about The Jungle Times in general, you may direct them to the info account (<a href="mailto: info@aujungletimes.com" target="_blank">info@aujungletimes.com</a>) or Jacob (<a href="mailto: jacob@aujungletimes.com" target="_blank">jacob@aujungletimes.com</a>).
	<h2 class="contact-subtitle">Social Media</h2>
	<p>Follow The Jungle Times on <a href="http://www.twitter.com/TheJungleTimes" target="_blank">Twitter</a> and like the page on <a href="http://www.facebook.com/TheJungleTimes" target="_blank">Facebook</a> in order to keep up with new articles and other information that will keep you in the loop with The Jungle Times and all Auburn Basketball news.</p>
	<h2 class="contact-subtitle">Contributers</h2>
	<h3 class="contact-contributer">Jacob Varner</h3>
	<p> Owner, Editor in Cheif: <a href="mailto: jacob@aujungletimes.com" target="_blank">jacob@aujungletimes.com</a></p>
	<p class="contact-note">The Jungle Times is always looking for people that love Auburn Basketball and wish to contribute outside of just starting discussions in the forum. If you are interested in writing for The Jungle Times or just have an idea for a single article, contact <a href="mailto: jacob@aujungletimes.com" target="_blank">Jacob</a>.</p>
</div>