<% @title = "Schedule" %>
<meta name="description" content="Auburn Men's Basketball 2015-2016 Full Schedule. Game times and results will updated frequently throuhgout the season as gamee are played.">
<div class="contact-wrapper">
	<h1 class="contact-title">Auburn Basketball 2015-2016 Schedule</h1>
	<p class="contact-note">This schedule will be updated frequently as games are played or times are released.</p>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Opponent</th>
				<th>Result</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>10/30</td>
				<td>7:00pm</td>
				<td>vs Brevard College (Ex.)</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>11/5</td>
				<td>6:00pm</td>
				<td>vs Indianapolis (Ex.)</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>11/13</td>
				<td>8:30pm</td>
				<td>vs UAB</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>11/17</td>
				<td>2:00pm</td>
				<td>vs Colorado</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>11/20</td>
				<td>TBA</td>
				<td>vs Georgia Southern</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>11/27</td>
				<td>7:30pm</td>
				<td>vs Northwestern State</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/2</td>
				<td>6:00pm</td>
				<td>at Coastal Carolina</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/12</td>
				<td>12:00pm</td>
				<td>at Middle Tennessee State</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/15</td>
				<td>8:00pm</td>
				<td>vs Mercer</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/19</td>
				<td>11:00am</td>
				<td>at Xavier</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/22</td>
				<td>1:30pm</td>
				<td>at New Mexico (DHC)</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/23</td>
				<td>TBA</td>
				<td>Diamond Head Classic</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>12/25</td>
				<td>TBA</td>
				<td>Diamond Head Classic</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/2</td>
				<td>1:00pm</td>
				<td>vs Tennessee</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/5</td>
				<td>6:00pm</td>
				<td>vs South Carolina</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/9</td>
				<td>8:00pm</td>
				<td>at Missouri</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/12</td>
				<td>8:00pm</td>
				<td>at Vanderbilt</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/16</td>
				<td>3:00pm</td>
				<td>vs Kentucky</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/19</td>
				<td>8:00pm</td>
				<td>vs Alabama</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/23</td>
				<td>7:00pm</td>
				<td>at Florida</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/27</td>
				<td>6:00pm</td>
				<td>at Ole Miss</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>1/30</td>
				<td>7:00pm</td>
				<td>vs Oklahoma State</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/2</td>
				<td>6:00pm</td>
				<td>vs LSU</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/6</td>
				<td>4:30pm</td>
				<td>at Georgia</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/9</td>
				<td>6:00pm</td>
				<td>at Tennessee</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/13</td>
				<td>5:00pm</td>
				<td>vs Vanderbilt</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/17</td>
				<td>6:00pm</td>
				<td>at Arkansas</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/20</td>
				<td>4:00pm</td>
				<td>vs Ole Miss</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/24</td>
				<td>6:00pm</td>
				<td>vs Georgia</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>2/27</td>
				<td>4:00pm</td>
				<td>at Alabama</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/1</td>
				<td>8:00pm</td>
				<td>vs Texas A&M</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/5</td>
				<td>1:30pm</td>
				<td>at Mississippi State</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/9</td>
				<td>TBA</td>
				<td>SEC Tournament</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/10</td>
				<td>TBA</td>
				<td>SEC Tournament</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/11</td>
				<td>TBA</td>
				<td>SEC Tournament</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/12</td>
				<td>TBA</td>
				<td>SEC Tournament</td>
				<td>TBD</td>
			</tr>
			<tr>
				<td>3/13</td>
				<td>TBA</td>
				<td>SEC Tournament</td>
				<td>TBD</td>
			</tr>
		</tbody>
	</table>
</div>