<% @title = "Auburn Men's Basketball Stats" %>
<meta name="description" content="Auburn Men's Basketball 2015-2016 Full stats. An updated collection of stats for all players. Stats include the normal points, rebounds, assists, etc. but also break those down on a per-game and per-minute basis.">
<div class="contact-wrapper">
	<h1 class="contact-title">Auburn Basketball 2015-2016 Statistics</h1>
	<p class="contact-note">These stats will be updated shortly after each game.</p>
	<h3 class="stats-table-title">Per Game Statistics</h3>
	<div class="stats">
		<table class="stats-table sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>Player</th>
					<th>GP</th>
					<th>MIN</th>
					<th>PPG</th>
					<th>RPG</th>
					<th>APG</th>
					<th>SPG</th>
					<th>BPG</th>
					<th>TPG</th>
					<th>FG</th>
					<th>FGA</th>
					<th>FG%</th>
					<th>FT</th>
					<th>FTA</th>
					<th>FT%</th>
					<th>3P</th>
					<th>3PA</th>
					<th>3P%</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td> <!-- # -->
					<td class="alt">Horace Spencer</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>1</td> <!-- # -->
					<td class="alt">Kareem Canty</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>2</td> <!-- # -->
					<td class="alt">Bryce Brown</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>4</td> <!-- # -->
					<td class="alt">T.J. Dunans</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>5</td> <!-- # -->
					<td class="alt">Cinmeon Bowers</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>12</td> <!-- # -->
					<td class="alt">Tyler Harris</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>13</td> <!-- # -->
					<td class="alt">Tahj Shamsid-Deen</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>20</td> <!-- # -->
					<td class="alt">Jonathan Walker</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>21</td> <!-- # -->
					<td class="alt">Patrick Keim</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>22</td> <!-- # -->
					<td class="alt">Zach Allison</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>23</td> <!-- # -->
					<td class="alt">TJ Lang</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>25</td> <!-- # -->
					<td class="alt">Jordon Granger</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>31</td> <!-- # -->
					<td class="alt">Devin Waddell</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>41</td> <!-- # -->
					<td class="alt">Cole Blackstock</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>42</td> <!-- # -->
					<td class="alt">Cole Stockton</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>44</td> <!-- # -->
					<td class="alt">New Williams</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPG -->
					<td>0.0</td> <!-- RPG -->
					<td>0.0</td> <!-- APG -->
					<td>0.0</td> <!-- SPG -->
					<td>0.0</td> <!-- BPG -->
					<td>0.0</td> <!-- TPG -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
			</tbody>
		</table>
	</div>
	<h3 class="stats-table-title">Per Minute Statistics</h3>
	<div class="stats">
		<table class="stats-table sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>Player</th>
					<th>GP</th>
					<th>MIN</th>
					<th>PPM</th>
					<th>RPM</th>
					<th>APM</th>
					<th>SPM</th>
					<th>BPM</th>
					<th>TPM</th>
					<th>FG</th>
					<th>FGA</th>
					<th>FG%</th>
					<th>FT</th>
					<th>FTA</th>
					<th>FT%</th>
					<th>3P</th>
					<th>3PA</th>
					<th>3P%</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td> <!-- # -->
					<td class="alt">Horace Spencer</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>1</td> <!-- # -->
					<td class="alt">Kareem Canty</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>2</td> <!-- # -->
					<td class="alt">Bryce Brown</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>4</td> <!-- # -->
					<td class="alt">T.J. Dunans</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>5</td> <!-- # -->
					<td class="alt">Cinmeon Bowers</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>12</td> <!-- # -->
					<td class="alt">Tyler Harris</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>13</td> <!-- # -->
					<td class="alt">Tahj Shamsid-Deen</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>20</td> <!-- # -->
					<td class="alt">Jonathan Walker</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>21</td> <!-- # -->
					<td class="alt">Patrick Keim</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>22</td> <!-- # -->
					<td class="alt">Zach Allison</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>23</td> <!-- # -->
					<td class="alt">TJ Lang</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>25</td> <!-- # -->
					<td class="alt">Jordon Granger</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>31</td> <!-- # -->
					<td class="alt">Devin Waddell</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>41</td> <!-- # -->
					<td class="alt">Cole Blackstock</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>42</td> <!-- # -->
					<td class="alt">Cole Stockton</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>44</td> <!-- # -->
					<td class="alt">New Williams</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0.0</td> <!-- MIN -->
					<td>0.0</td> <!-- PPM -->
					<td>0.0</td> <!-- RPM -->
					<td>0.0</td> <!-- APM -->
					<td>0.0</td> <!-- SPM -->
					<td>0.0</td> <!-- BPM -->
					<td>0.0</td> <!-- TPM -->
					<td>0.0</td> <!-- FG -->
					<td>0.0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0.0</td> <!-- FT -->
					<td>0.0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0.0</td> <!-- 3P -->
					<td>0.0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
			</tbody>
		</table>
	</div>
	<h3 class="stats-table-title">Season Statistics</h3>
	<div class="stats">
		<table class="stats-table sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>Player</th>
					<th>GP</th>
					<th>MIN</th>
					<th>PTS</th>
					<th>REB</th>
					<th>AST</th>
					<th>STL</th>
					<th>BLK</th>
					<th>TO</th>
					<th>FG</th>
					<th>FGA</th>
					<th>FG%</th>
					<th>FT</th>
					<th>FTA</th>
					<th>FT%</th>
					<th>3P</th>
					<th>3PA</th>
					<th>3P%</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td> <!-- # -->
					<td class="alt">Horace Spencer</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>1</td> <!-- # -->
					<td class="alt">Kareem Canty</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>2</td> <!-- # -->
					<td class="alt">Bryce Brown</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>4</td> <!-- # -->
					<td class="alt">T.J. Dunans</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>5</td> <!-- # -->
					<td class="alt">Cinmeon Bowers</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>12</td> <!-- # -->
					<td class="alt">Tyler Harris</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>13</td> <!-- # -->
					<td class="alt">Tahj Shamsid-Deen</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>20</td> <!-- # -->
					<td class="alt">Jonathan Walker</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>21</td> <!-- # -->
					<td class="alt">Patrick Keim</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>22</td> <!-- # -->
					<td class="alt">Zach Allison</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>23</td> <!-- # -->
					<td class="alt">TJ Lang</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>25</td> <!-- # -->
					<td class="alt">Jordon Granger</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>31</td> <!-- # -->
					<td class="alt">Devin Waddell</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>41</td> <!-- # -->
					<td class="alt">Cole Blackstock</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>42</td> <!-- # -->
					<td class="alt">Cole Stockton</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
				<tr>
					<td>44</td> <!-- # -->
					<td class="alt">New Williams</td> <!-- Player -->
					<td>0</td> <!-- GP -->
					<td>0</td> <!-- MIN -->
					<td>0</td> <!-- PTS -->
					<td>0</td> <!-- REB -->
					<td>0</td> <!-- AST -->
					<td>0</td> <!-- STL -->
					<td>0</td> <!-- BLK -->
					<td>0</td> <!-- TO -->
					<td>0</td> <!-- FG -->
					<td>0</td> <!-- FGA -->
					<td>.000</td> <!-- FG% -->
					<td>0</td> <!-- FT -->
					<td>0</td> <!-- FTA -->
					<td>.000</td> <!-- FT% -->
					<td>0</td> <!-- 3P -->
					<td>0</td> <!-- 3PA -->
					<td>.000</td> <!-- 3P% -->
				</tr>
			</tbody>
		</table>
	</div>
</div>