// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion-wrapper
	width: 1200px
	overflow: hidden
	margin: 20px auto

	.start-discussion-button, .start-discussion-button:visited
		display: block
		float: left
		width: 150px
		height: 16px
		margin: 20px 0px
		text-align: center
		padding: 14px 5px 16px 5px
		background: #03244d
		text-decoration: none
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: bold
		color: white

	.start-discussion-button:hover, .start-discussion-button:active
		background: #496e9c

	.discussion-sort
		margin: 20px 0
		width: 216px
		height: 42px
		border: 2px solid #03244d
		float: right

		i
			float: right
			color: white
			display: block
			height: 42px
			width: 42px
			border-left: 2px solid #03244d
			background: #03244d
			font-size: 36px
			text-align: center

		.sort-list
			display: block
			padding: 0
			margin: 0
			float: left
			height: 42px
			width: 172px
			background: white

			.sort-item.current
				width: 142px
				height: 22px
				color: #03244d
				font-family: 'Roboto', sans-serif
				font-weight: bold
				font-size: 14px
				padding: 10px 10px
				list-style: none

				a, a:visited, a:hover, a:active
					text-decoration: none
					color: #03244d

			.sort-item.other
				width: 198px
				margin-left: -2px
				display: block
				background: #03244d
				border: 2px solid #03244d
				height: 22px
				color: white
				font-family: 'Roboto', sans-serif
				font-weight: bold
				font-size: 14px
				padding: 10px 10px
				list-style: none

				a, a:visited
					text-decoration: none
					color: white

				a:hover, a:active
					text-decoration: none
					color: #496e9c


	.discussion-container
		width: 100%
		clear: both
		margin-bottom: 20px
		overflow: hidden

		.vote-buttons
			height: 90px
			width: 50px
			display: block
			float: left
			margin: 50px 0 0 0

			.vote-plus
				display: block
				width: 50px

				a, a:active, a:visited, a:hover
					text-decoration: none
					color: white

					i
						display: block
						text-align: center
						vertical-align: middle
						background: #dd550c

				p
					color: #03244d
					display: block
					text-align: center
					vertical-align: middle
					padding: 5px
					margin: 0
					font-size: 20px
					border-left: 2px solid #dd550c


			.vote-minus
				display: block
				width: 50px

				a, a:active, a:visited, a:hover
					text-decoration: none
					color: white

					i
						display: block
						text-align: center
						vertical-align: middle
						background: #dd550c

		.discussion-tabs
			height: 40px

			.category-tab
				height: 40px
				overflow: hidden
				float: left
				background: #dd550c
				color: white
				font-size: 20px
				font-family: 'Roboto', sans-serif
				font-weight: bold

				i
					display: inline-flex
					vertical-align: middle
					margin: 10px

				p
					display: inline-flex
					vertical-align: middle
					margin: 10px 15px 10px 0

			.sharing-buttons
				height: 40px
				display: inline
				float: right

				.tweet-button
					display: inline
					float: right
					background: #55acee
					width: 50px
					height: 40px

					img
						height: 20px
						margin: 10px 12px

				.share-button
					display: inline
					float: right
					background: #3b5998
					width: 50px
					height: 40px

					img
						height: 20px
						margin: 10px 15px
					
				.plus-button
					display: inline
					float: right
					background: #DC4E41
					width: 50px
					height: 40px

					img
						height: 20px
						margin: 10px 9px

		.discussion-content
			margin: 0 0 0 50px
			padding: 20px
			border: 2px solid #dd550c
			overflow: hidden

			.discussion-title
				margin: 0

				a, a:active, a:visited, a:hover
					margin: 0
					font-family: 'Roboto', sans-serif
					font-size: 20px
					text-decoration: none
					color: #03244d

			.discussion-info
				display: inline
				float: left
				height: 24px
				width: 100%
				padding-top: 20px
				overflow: hidden

				
				.discussion-creator
					display: inline
					float: left
					height: 24px
					margin: 0

					i
						display: inline-flex
						vertical-align: middle
						margin: 0 5px 0 0

					p
						display: inline-flex
						vertical-align: middle
						margin: 0 15px 0 0

				.discussion-date
					display: inline
					float: left
					height: 24px
					margin: 0

					i
						display: inline-flex
						vertical-align: middle
						margin: 0 5px 0 0

					p
						display: inline-flex
						vertical-align: middle
						margin: 0 15px 0 0

				a, a:hover, a:visited, a:active
					color: #dd550c
					text-decoration: none

				.discussion-reply
					display: inline
					float: right
					height: 24px
					margin: 0

					i
						display: inline-flex
						vertical-align: middle
						margin: 0 5px 0 0

					p
						display: inline-flex
						vertical-align: middle
						margin: 0