// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container
	width: 1872px
	margin: 10px auto
	clear: both

.post-container
	display: inline-block
	float: left
	width: 624px

	.post-tabs
		margin: 10px 10px 0 10px
		height: 40px

		.category-tab
			height: 40px
			overflow: hidden
			float: left
			background: #dd550c
			color: white
			font-size: 20px
			font-family: 'Roboto', sans-serif
			font-weight: bold

			i
				display: inline-flex
				vertical-align: middle
				margin: 10px

			p
				display: inline-flex
				vertical-align: middle
				margin: 10px 15px 10px 0

		.sharing-buttons
			height: 40px
			display: inline
			float: right

			.tweet-button
				display: inline
				float: right
				background: #55acee
				width: 50px
				height: 40px

				img
					height: 20px
					margin: 10px 12px

			.share-button
				display: inline
				float: right
				background: #3b5998
				width: 50px
				height: 40px

				img
					height: 20px
					margin: 10px 15px
				
			.plus-button
				display: inline
				float: right
				background: #DC4E41
				width: 50px
				height: 40px

				img
					height: 20px
					margin: 10px 9px

	.post-content
		margin: 0px 10px 10px 10px
		padding: 20px
		border: 2px solid #dd550c

		.post-title
			font-family: 'Roboto', sans-serif
			width: 560px
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			font-size: 20px
			text-decoration: none
			color: #03244d
			margin: 0 0 5px 0

			a, a:visited, a:hover, a:active
				text-decoration: none
				color: #03244d

		.post-image
			width: 100%
			margin: 5px 0

		.post-info
			margin: 5px 0 0 0
			padding: 0
			width: 100%
			overflow: hidden

			.post-author
				display: inline
				float: left
				height: 24px
				margin: 0

				i
					display: inline-flex
					vertical-align: middle
					margin: 0 5px 0 0

				p
					display: inline-flex
					vertical-align: middle
					margin: 0 15px 0 0

			.post-date
				display: inline
				float: left
				height: 24px
				margin: 0

				i
					display: inline-flex
					vertical-align: middle
					margin: 0 5px 0 0

				p
					display: inline-flex
					vertical-align: middle
					margin: 0 15px 0 0

			.post-comments
				display: inline
				float: right
				height: 24px
				margin: 0

				i
					display: inline-flex
					vertical-align: middle
					margin: 0 5px 0 0

				p
					display: inline-flex
					vertical-align: middle
					margin: 0

.ad-blog-home-bottom
	clear: both
	width: 970px
	height: 90px
	padding: 10px 10px
	margin: 0 auto

.pagination
	padding: 10px
	text-align: center
	background: white
	clear: both
	cursor: default
	a, span, em
		padding: 10px 15px
		display: block
		float: left
		margin-right: -2px
	.disabled
		color: #999999
		border: 2px solid #dd550c
	.current
		font-style: normal
		font-weight: bold
		background: #dd550c
		color: white
		border: 2px solid #dd550c
	a
		text-decoration: none
		color: #dd550c
		border: 2px solid #dd550c
		&:hover, &:focus
			color: #f68026
			border-color: #f68026
	/* self-clearing method: */
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
	* html &
		height: 1%
	*:first-child+html &
		overflow: hidden

.post-suggested

	.suggested-heading
		font-size: 20px
		font-family: 'Roboto', sans-serif
		color: #03244d
		margin: 10px

	.suggested-title
		a:hover, a:visited, a:active, a
			font-size: 18px
			font-family: 'Roboto', sans-serif
			color: #03244d
			margin: 5px 10px
			text-decoration: none

	.suggested-date
		font-size: 16px
		color: #496e9c
		font-family: 'Open Sans', sans-serif
		margin: 0px 10px 15px

@media screen and (max-width: 1872px)
	.blog-container
		width: 1248px

@media screen and (max-width: 1248px)
	.blog-container
		width: 624px

@media screen and (max-width: 624px)
	.blog-container
		width: 100%

	.post-container
		width: 100%
		margin: 0

		.post-tabs
			height: 30px

			.category-tab
				height: 30px
				font-size: 15px

				i
					margin: 5px

				p
					margin: 5px 10px 5px 0

			.sharing-buttons
				height: 30px

				.tweet-button
					width: 37.5px
					height: 30px

					img
						height: 15px
						margin: 7.5px 9px

				.share-button
					width: 37.5px
					height: 30px

					img
						height: 15px
						margin: 7.5px 11.25px
					
				.plus-button
					width: 37.5px
					height: 30px

					img
						height: 15px
						margin: 7.5px 6.75px

		.post-content
			padding: 10px

			.post-title
				width: initial
				text-overflow: initial
				white-space: initial

			.post-info

				.post-author

					i
						font-size: 18px

					p
						margin: 0 11.25px 0 0
						font-size: 15px

				.post-date
					clear: left

					i
						font-size: 18px

					p
						margin: 0 11.25px 0 0
						font-size: 15px

				.post-comments

					i
						font-size: 18px

					p
						font-size: 15px
				
@media screen and (max-width: 970px)

	.ad-blog-home-bottom
		width: 728px

@media screen and (max-width: 728px)

	.ad-blog-home-bottom
		width: 320px
		height: 100px

.post-wrapper
	width: 900px
	margin: 20px auto
	clear: both

	.post-title
		color: #03244d
		font-size: 36px
		font-family: 'Roboto', sans-serif
		margin-bottom: 20px

	.post-info
		display: inline-block
		margin-bottom: 20px
		height: 30px
		overflow: hidden

		.post-author
			display: inline
			float: left
			height: 30px
			margin-right: 20px

			i
				display: inline-flex
				font-size: 30px
				margin-right: 5px
				vertical-align: middle

			p
				display: inline-flex
				font-size: 18px
				padding: 4.5px 0
				margin: 0
				vertical-align: middle

		.post-date
			display: inline
			float: left
			height: 30px
			margin-right: 20px

			i
				display: inline-flex
				font-size: 30px
				margin-right: 5px
				vertical-align: middle

			p
				display: inline-flex
				font-size: 18px
				padding: 4.5px 0
				margin: 0
				vertical-align: middle

		.post-category
			display: inline
			float: left
			height: 30px
			margin-right: 20px

			i
				display: inline-flex
				font-size: 30px
				margin-right: 5px
				vertical-align: middle

			p
				display: inline-flex
				font-size: 18px
				padding: 4.5px 0
				margin: 0
				vertical-align: middle

		a, a:visited, a:hover, a:active
			display: inline-block
			font-size: 14px
			text-decoration: none
			padding-top: 8px
			color: #dd550c

	.post-image
		width: 600px
		display: block
		margin: 0 auto

	.sharing-buttons
		height: 30px
		float: left
		margin: 20px 0px

		.tweet-button
			display: inline-block
			width: 100px
			height: 30px
			background: #55acee
			overflow: hidden

			img
				height: 20px
				margin: 5px 7px
				float: left
				display: inline-flex

			p
				font-size: 15px
				font-family: 'Open Sans', sans-serif
				color: white
				float: left
				margin: 4px 5px


		.share-button
			display: inline-block
			width: 100px
			height: 30px
			background: #3b5998
			overflow: hidden

			img
				height: 20px
				margin: 5px 7px
				float: left
				display: inline-flex

			p
				font-size: 15px
				font-family: 'Open Sans', sans-serif
				color: white
				float: left
				margin: 4px 5px

		.plus-button
			display: inline-block
			width: 100px
			height: 30px
			background: #DC4E41
			overflow: hidden

			img
				height: 20px
				margin: 5px 5px
				float: left
				display: inline-flex

			p
				font-size: 15px
				font-family: 'Open Sans', sans-serif
				color: white
				float: left
				margin: 4px 5px

	hr
		border: 2px solid #dd550c
		clear: both

	.post-ad-top
		margin: 20px auto
		width: 728px
		height: 90px

	.post-content
		margin: 20px 0px

		h1
			font-size: 28px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d
		
		h2
			font-size: 26px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d

		h3
			font-size: 24px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d

		h4
			font-size: 22px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d

		h5
			font-size: 20px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d

		h6
			font-size: 18px
			font-family: 'Roboto', sans-serif
			font-weight: bold
			margin: 10px 0
			color: #03244d

		p
			font-size: 16px
			line-height: 1.5
			font-family: 'Open Sans', sans-serif
			margin: 20px 0
			color: #000000

		a, a:active, a:hover, a:visited
			font-size: 16px
			line-height: 24px
			font-family: 'Open Sans', sans-serif
			margin: 10px 0
			color: #dd550c
			text-decoration: none

		ul
			margin: 10px 10px 20px 20px
			font-family: 'Open Sans', sans-serif
			font-size: 16px
			line-height: 24px

		ol
			margin: 10px 10px 20px 20px
			font-family: 'Open Sans', sans-serif
			font-size: 16px
			line-height: 24px

	.post-ad-bottom
		margin: 20px auto
		width: 728px
		height: 90px

	.comment-count
		font-size: 20px
		color: #03244d
		font-family: 'Roboto', sans-serif
		margin: 10px 0

	.add-comment
		font-family: 'Roboto', sans-serif
		font-size: 18px
		color: #03244d
		margin: 10px 0

	.comment-sign-in
		font-size: 18px
		font-family: 'Roboto', sans-serif
		color: #000000

		a, a:visited, a:hover, a:active
			color: #dd550c
			text-decoration: none

@media screen and (max-width: 920px)
	
	.post-wrapper
		width: 90%

		.post-title
			font-size: 28px

		.post-info
			height: initial
			.post-date
				clear: both

		.post-image
			width: 100%

		.sharing-buttons

			.tweet-button
				width: 90px

				img
					height: 18px
					margin: 5px

				p
					font-size: 14px
					margin: 4.5px 5px


			.share-button
				width: 90px

				img
					height: 18px
					margin: 5px

				p
					font-size: 14px
					margin: 4.5px 5px

			.plus-button
				width: 90px

				img
					height: 18px
					margin: 5px

				p
					font-size: 14px
					margin: 4.5px 5px

		.post-ad-bottom, .post-ad-top
			width: 111%
			height: initial
			min-height: 90px

.new-post-wrapper
	width: 900px
	clear: both
	margin: 20px auto

	.new-post-title
		font-size: 24px
		font-family: 'Roboto', sans-serif
		color: #03244d
		margin: 20px 0

.edit-post-wrapper
	width: 900px
	clear: both
	margin: 20px auto

	.new-post-title
		font-size: 24px
		font-family: 'Roboto', sans-serif
		color: #03244d
		margin: 20px 0

label
	display: block
	font-size: 18px
	font-weight: bold
	color: #03244d
	margin: 10px 0
	font-family: 'Roboto', sans-serif

.help-text
	width: 90%
	font-size: 16px
	font-family: 'Open Sans', sans-serif
	color: black
	margin: 10px 0

	a, a:hover, a:visited, a:active
		color: #dd550c
		text-decoration: none

.title-field
	input
		border: 2px solid #dd550c
		height: 30px
		width: 90%
		font-size: 16px
		font-family: 'Roboto', sans-serif
		padding: 5px 10px
		margin-bottom: 10px

.description-field
	textarea
		border: 2px solid #dd550c
		height: 100px
		width: 90%
		font-size: 16px
		font-family: 'Roboto', sans-serif
		padding: 10px
		margin-bottom: 10px

.content-field
	textarea
		border: 2px solid #dd550c
		height: 300px
		width: 90%
		font-size: 16px
		font-family: 'Roboto', sans-serif
		padding: 10px
		margin-bottom: 10px

.category-field
	select
		border: 2px solid #dd550c
		width: 200px
		padding: 5px
		font-size: 16px
		line-height: 1
		height: 40px
		background: white
		color: black
		margin-bottom: 10px

.image-field
	margin-bottom: 20px

.publish-field
	input
		width: 20px
		height: 20px
		margin-bottom: 20px

.submit-field
	input[type="submit"]
		width: 200px
		height: 40px
		font-size: 18px
		font-family: 'Roboto', sans-serif
		background: #dd550c
		color: white
		border: 2px solid #dd550c
		margin: 20px 0

@media screen and (max-width: 920px)
	.edit-post-wrapper
		width: 95%
		margin-left: 10px

	.new-post-wrapper
		width: 95%
		margin-left: 10px

.post-panel-wrapper
	width: 95%
	margin: 20px auto
	clear: both

	.post-panel-title
		color: #03244d
		font-size: 30px
		font-family: 'Roboto', sans-serif

	.admin-links

		a, a:visited
			display: inline-block
			font-family: 'Roboto', sans-serif
			font-size: 18px
			color: white
			background: #dd550c
			border: 2px solid #dd550c
			text-decoration: none
			padding: 10px
			margin: 10px 0


		a:hover, a:active
			background: #f68026

	.post-panel-table
		width: 100%
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		border: 4px solid #dd550c

		thead
			font-weight: bold
			font-family: 'Roboto', sans-serif
			font-size: 18px
			border: 4px solid #dd550c

			td
				padding: 10px
				border: 4px solid #dd550c

		tbody
			tr
				&:hover
					background: #cccccc
				td
					padding: 5px 10px
					border: 2px solid #dd550c

					a, a:hover, a:visited, a:active
						text-decoration: none
						color: #dd550c